/*
Error: 0.1 is not an integer.
        on line 5 of /Users/sam/Documents/Code/sjmog.github.io/source/sass/_functions.scss
        from line 12 of /Users/sam/Documents/Code/sjmog.github.io/source/sass/screen.scss

1: /* Welcome to Compass.
2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "reset";
7: 
8: @import "functions";
9: @import "variables";
10: @import "mixins";

Backtrace:
/Users/sam/Documents/Code/sjmog.github.io/source/sass/_functions.scss:5
/Users/sam/Documents/Code/sjmog.github.io/source/sass/screen.scss:12
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/value/base.rb:182:in `to_i'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/value/number.rb:312:in `to_i'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/value/base.rb:186:in `assert_int!'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:263:in `visit_for'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:302:in `block (2 levels) in visit_if'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:302:in `map'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:302:in `block in visit_if'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:301:in `visit_if'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:251:in `block (3 levels) in perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:251:in `each'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:251:in `block (2 levels) in perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:250:in `catch'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:250:in `block in perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:86:in `perform_arguments'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:132:in `_perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/operation.rb:76:in `_perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:406:in `visit_return'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:251:in `block (3 levels) in perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:251:in `each'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:251:in `block (2 levels) in perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:250:in `catch'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:250:in `block in perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:86:in `perform_arguments'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:132:in `_perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/operation.rb:67:in `_perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/renderers/sass.rb:87:in `evaluate'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/rendering.rb:303:in `render_individual_file'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/rendering.rb:181:in `_render_with_all_renderers'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/rendering.rb:149:in `render_template'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/sitemap/resource.rb:127:in `block in render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/activesupport-4.1.16/lib/active_support/notifications.rb:161:in `instrument'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/util.rb:41:in `instrument'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/application.rb:235:in `instrument'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/sitemap/resource.rb:100:in `render'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/request.rb:260:in `process_request'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/request.rb:210:in `block in call!'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/request.rb:209:in `catch'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/request.rb:209:in `call!'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/core_extensions/request.rb:195:in `call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/urlmap.rb:66:in `block in call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/urlmap.rb:50:in `each'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/urlmap.rb:50:in `call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/head.rb:13:in `call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/lint.rb:49:in `_call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/lint.rb:37:in `call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-1.6.13/lib/rack/builder.rb:153:in `call'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-test-0.6.3/lib/rack/mock_session.rb:30:in `request'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-test-0.6.3/lib/rack/test.rb:244:in `process_request'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/rack-test-0.6.3/lib/rack/test.rb:58:in `get'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli/build.rb:255:in `render_to_file'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli/build.rb:221:in `build_resource'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli/build.rb:188:in `each'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli/build.rb:188:in `execute!'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli/build.rb:128:in `invoke!'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/actions.rb:93:in `action'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli/build.rb:70:in `build'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/command.rb:27:in `run'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/invocation.rb:127:in `invoke_command'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor.rb:392:in `dispatch'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/base.rb:485:in `start'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli.rb:72:in `method_missing'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/command.rb:29:in `run'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/command.rb:135:in `run'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/invocation.rb:127:in `invoke_command'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor.rb:392:in `dispatch'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/thor-1.1.0/lib/thor/base.rb:485:in `start'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/lib/middleman-core/cli.rb:20:in `start'
/Users/sam/.rvm/gems/ruby-2.6.3/gems/middleman-core-3.3.12/bin/middleman:18:in `<top (required)>'
/Users/sam/.rvm/gems/ruby-2.6.3/bin/middleman:23:in `load'
/Users/sam/.rvm/gems/ruby-2.6.3/bin/middleman:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: 0.1 is not an integer.\A         on line 5 of /Users/sam/Documents/Code/sjmog.github.io/source/sass/_functions.scss\A         from line 12 of /Users/sam/Documents/Code/sjmog.github.io/source/sass/screen.scss\A \A 1: /* Welcome to Compass.\A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"reset\";\A 7: \A 8: @import \"functions\";\A 9: @import \"variables\";\A 10: @import \"mixins\";"; }
