<!-- BEGIN article overview -->
<article class="article-overview">
  <h2 class="title title--small article-overview__title">
    <%= title %>
  </h2>
  <p class="body article-overview__body">
    <%= body %>
  </p>
</article>
<!-- END article overview -->