/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/Sam/.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --- Utility functions --- */
/* --- Layout --- */
/* BREAKPOINTS */
/* COLORS */
/* TYPOGRAPHY */
/* BASE STYLES */
/* line 3, ../sass/_base.scss */
body {
  background: #fafafa;
  padding: 14% 0 14% 16%;
  font-family: "freight-text-pro", Georgia;
  font-size: 16.78873px;
  line-height: 1.5;
  color: #444;
}
@media screen and (max-width: 720px) {
  /* line 3, ../sass/_base.scss */
  body {
    padding: 14% 4%;
  }
}

/* line 17, ../sass/_base.scss */
.main {
  max-width: 680px;
}

/* TYPOGRAPHY */
/* line 3, ../sass/_typography.scss */
p {
  font-size: 16.78873px;
}

/* line 7, ../sass/_typography.scss */
small {
  font-size: 14.53196px;
  color: #777777;
}

/* line 12, ../sass/_typography.scss */
h1 {
  font-size: 25.888px;
}

/* line 16, ../sass/_typography.scss */
h2 {
  font-size: 20.3521px;
}

/* line 20, ../sass/_typography.scss */
h3 {
  font-size: 17.61634px;
}

/* line 24, ../sass/_typography.scss */
a {
  color: #919191;
  text-decoration: none;
}
/* line 27, ../sass/_typography.scss */
a:hover {
  color: #6a6a6a;
}

/* long form */
/* line 34, ../sass/_typography.scss */
.posts h1, .posts h2, .posts h3, .posts h4, .posts h5, .posts h6 {
  margin-bottom: 12.57855px;
  color: #919191;
}
/* line 38, ../sass/_typography.scss */
.posts h1 {
  display: inline-block;
  position: relative;
  margin-bottom: 41.88678px;
  font-size: 28.50324px;
  /* the after-title underline */
}
/* line 44, ../sass/_typography.scss */
.posts h1:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: -11.15286px;
  background-color: #e1e1e1;
}
/* line 55, ../sass/_typography.scss */
.posts h2 {
  font-size: 25.888px;
}
/* line 58, ../sass/_typography.scss */
.posts h3 {
  font-size: 23.51272px;
}
/* line 61, ../sass/_typography.scss */
.posts h4 {
  font-size: 21.35537px;
}
/* line 64, ../sass/_typography.scss */
.posts p, .posts ul, .posts ol {
  margin-bottom: 25.888px;
  font-size: 18.48475px;
  color: #5e5e5e;
  line-height: 1.8;
}
/* line 70, ../sass/_typography.scss */
.posts ul, .posts ol {
  padding-left: 41.88678px;
}
/* line 73, ../sass/_typography.scss */
.posts li {
  position: relative;
  margin-bottom: 16px;
  font-size: 18.48475px;
  color: #5e5e5e;
  line-height: 1.8;
}
/* line 79, ../sass/_typography.scss */
.posts li:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: #e1e1e1;
  top: 16px;
  left: -41.88678px;
}

/* Head block */
/* Displays the blog header */
/* line 4, ../sass/components/_head-block.scss */
.head-block {
  padding-bottom: 25.888px;
}

/* Posts list */
/* Displays posts in a list */
/* Post overview */
/* Displays an overview of the post */
/* line 4, ../sass/components/_post-overview.scss */
.post-overview {
  padding-bottom: 20.3521px;
}

/* line 8, ../sass/components/_post-overview.scss */
.post-overview__title {
  position: relative;
  /* margin overlaps with anchor's padding below */
  margin-bottom: 12.57855px;
  /* The before-title whisker */
}
/* line 12, ../sass/components/_post-overview.scss */
.post-overview__title a {
  position: relative;
  padding-bottom: 12.57855px;
  /* the after-title underline */
}
/* line 16, ../sass/components/_post-overview.scss */
.post-overview__title a:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: 11.15286px;
  background-color: #e1e1e1;
}
/* line 28, ../sass/components/_post-overview.scss */
.post-overview__title:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: #e1e1e1;
  top: 16px;
  left: -41.88678px;
}

/* Post body */
/* Displays the body copy for the post */
