/* BASE STYLES */

body {
  background: $bg;
  padding: 14% 0 14% 16%;

  font-family: "freight-text-pro", Georgia;
  font-size: ms-modify($base-font-size, 1.1) + px;
  line-height: 1.5;
  color: $body-font-color;

  @media screen and (max-width: $mobile) {
    padding: 14% 4%;
  }
}

.main {
  max-width: 680px;
}