/* BASE STYLES */

body {
  background: $bg;
  padding-left: 16%;
  padding-top: 14%;

  font-family: "freight-text-pro", Georgia;
  font-size: ms-modify($base-font-size, 1.1) + px;
  line-height: 1.5;
  color: $body-font-color;
}