/* TYPOGRAPHY */

p, ul, ol, li, blockquote {
  font-size: ms-modify($base-font-size, 1.3) + px;
  color: lighten($body-font-color, 10%);
}

em {
  font-style: italic;
}

strong {
  font-weight: $bold-font-weight;
}

small {
  font-size: ms-modify($base-font-size, 0.8) + px;
  color: lighten($body-font-color, 20%);
}

h1 {
  display: inline-block;
  position: relative;
  margin-bottom: ms-modify($base-font-size, 3) + px;
  font-size: ms-modify($base-font-size, 2.2) + px;
  color: lighten($body-font-color, 30%);
  /* the after-title underline */
  /*&:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: -1 * ms-modify($base-font-size, 0.25) + px;
    background-color: darken($bg, 10%);
  }*/
}

h2 {
  font-size: ms-modify($base-font-size, 2.0) + px;
}
h3 {
  font-size: ms-modify($base-font-size, 1.8) + px;
}
h4 {
  font-size: ms-modify($base-font-size, 1.6) + px;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 15%);
  }
}

/* long form */
.posts {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: ms-modify($base-font-size, 0.5) + px;
    color: lighten($body-font-color, 30%);
  }
  h1 {
    display: inline-block;
    position: relative;
    margin-bottom: ms-modify($base-font-size, 3) + px;
    font-size: ms-modify($base-font-size, 2.2) + px;
    /* the after-title underline */
    /*&:before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: -1 * ms-modify($base-font-size, 0.25) + px;
      background-color: darken($bg, 10%);
    }*/
  }
  h2 {
    font-size: ms-modify($base-font-size, 2.0) + px;
  }
  h3 {
    font-size: ms-modify($base-font-size, 1.8) + px;
  }
  h4 {
    font-size: ms-modify($base-font-size, 1.6) + px;
  }
  p, ul, ol {
    margin-bottom: ms-modify($base-font-size, 2) + px;
    line-height: 1.8;
  }
  ul, ol, blockquote {
    padding-left: ms-modify($base-font-size, 3) + px;
  }
  li {
    position: relative;
    margin-bottom: ms-modify($base-font-size, 1) + px;
    color: lighten($body-font-color, 10%);
    line-height: 1.8;
    &:before {
      content: "";
      position: absolute;
      width: $base-font-size + px;
      height: 1px;
      background-color: darken($bg, 10%);
      top: ms-modify($base-font-size, 1) + px;
      left: -1 * ms-modify($base-font-size, 3) + px;
    }
  }
  blockquote {
    @include clearfix;
  }
  blockquote p {
    position: relative;
    font-size: ms-modify($base-font-size, 1.6) + px;
    font-style: italic;
    /* border to the left */
    &:before {
      content: "";
      position: absolute;
      left: -1 * ms-modify($base-font-size, 3) + px;
      height: 100%;
      top: 0;
      width: 2px;
      background-color: darken($bg, 10%);
    }
  }
  blockquote:nth-of-type(2n) p {
    margin-top: -1 * ms-modify($base-font-size, 1) + px;
    font-size: ms-modify($base-font-size, 1.3) + px;
    color: lighten($body-font-color, 30%);
    &:before {
      display: none;
    }
  }
}

code {
  font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  font-size: 14px;
  background: rgba(0,0,0,0.05);
  padding: 5px;
  white-space: pre-wrap;
}

pre > code {
  padding: 24px !important;
}
