/* BREAKPOINTS */
$mobile: 720px;

/* COLORS */

$bg: #fafafa;
$body-font-color: #444;
$long-body-font-color: #777;
$link-color: lighten($body-font-color, 30%);

/* TYPOGRAPHY */

$base-font-size: 16;
$base-font-weight: normal;
$bold-font-weight: bold;