---
title: My Blog
---

<% post = fetch_article(request.params[:post].to_i) %>

<% if defined?(post) && !post.nil? %>

<%= partial :"_head-block", locals: { 
  title: post[:title]
} %>

<%= partial :"_post-body", locals: {
  body: post[:body]
} %>

<%= partial :"_footer", locals: {} %>

<% else %>

<p>Something went wrong :(</p>

<% end %>

