---
title: Sam Morgan's Blog
---

<%= partial :"_head-block", locals: { 
  title: "Blog",
  leader: "<a href='https://twitter.com/sjmog1' target='_blank'>Sam Morgan</a> is a programmer and teacher. He's passionate about learning and technology. He works as Head of Product at <a href='https://makers.tech/' target='_blank'>Makers</a> in London."
} %>

<%= partial :"_posts-list", locals: { posts: parsed_articles } %>

<%= partial :"_footer", locals: {} %>

