---
title: Sam Morgan's Blog
---

<%= partial :"_head-block", locals: { 
  title: "Blog",
  leader: "<a href='https://twitter.com/sjmog1' target='_blank'>Sam Morgan</a> is a developer working across the full stack. He's passionate about <a href='http://www.extremeprogramming.org/' target='_blank'>Extreme Programming</a> and education. He works as Head of Education at <a href='http://www.makersacademy.com/' target='_blank'>Makers Academy</a> in London."
} %>

<%= partial :"_posts-list", locals: { posts: parsed_articles } %>

<%= partial :"_footer", locals: {} %>

