---
title: Sam Morgan's Blog
---

<%= partial :"components/head-block", locals: { 
  title: "Blog",
  leader: "<a href='https://twitter.com/sjmog1' target='_blank'>Sam Morgan</a> is a programmer and teacher. He's passionate about learning and technology. He works as cofounder of <a href='https://whatever.xyz/' target='_blank'>Whatever</a>, and consults with various technology education institutions."
} %>

<%= partial :"components/posts-list", locals: { posts: parsed_articles } %>

<%= partial :"components/footer", locals: {} %>

